.docs_fixed_top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 600px;
    z-index: 999;
}

/*.docs_header:after {clear:both; display: block; cotent: ''}*/
.docs_header {
    height: 54px;
    width: 100%;
    /*
    position: relative;
    vertical-align: middle;*/
}

#docs_icon{
    width: 40px;
    height: 53px;
    background-color: aqua;
    margin-right: 10px;
    float: left;
}

#docs_title{
    /*display: block;*/
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    float: left;
    vertical-align: middle;
    margin-top: 10px;

}

#docs_submit{
    float: right;
    margin-right: 50px;
}

#docs_menu{
    float: right;
    margin-right: 15px;
}


.docs_add_element:after {clear:both; display: block; cotent: ''}
.docs_add_element{
    width: 100%;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 3px;
    border-bottom: 0.2px solid #c0c0c0;
    border-top: 0.2px solid #c0c0c0;
    margin: 0;
}
.docs_font_setting{
    width: 100%;
    height: 30px;
    display: inline-block;
    border-bottom: 0.2px solid #c0c0c0;
    margin: 0;
    line-height: 30px;
}

#docs_font_family, #docs_font_size, #docs_font_style, #docs_font_color_setting {
    height: 100%;
    border-right: 0.2px solid #c0c0c0;
    padding: 0px 7px 0px 7px;
    float: left;
    margin : 0;
    vertical-align: middle;
}

#docs_font_align{
    height: 100%;
    padding: 0px 7px 0px 7px;
    float: left;
    margin : 0;
    vertical-align: middle;
}

#docs_font_bold, #docs_font_italic, #docs_font_underline, #docs_font_color, #docs_font_background {
    display: inline-block;
}

#docs_align_left, #docs_align_center, #docs_align_right, #docs_line_spacing{
    display: inline-block;
}


#docs_contents_container:focus{
    outline: none;
}


#docs_contents_container{
    position: relative;
    top:125px;
    bottom: 200px;
    height: 633px; /* TODO: 이 부분은 해상도에 따라 조절 해야 함!!*/
    width: 95%;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 15px;
    padding: 20px;
}

.toggle_button{
    margin-right: 10px;
}

.toggle_child{
    margin-left: 18px;
}

.toggle_child_text{
    margin-left: 18px;
}

div[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.file_input_textbox
{
    float: left
}

.file_input_div
{
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.file_input_button
{
    width: 50px;
    position: relative;
    top: 0px;
    color: #FFFFFF;
    border-style: solid;
}

.file_input_hidden
{
    font-size: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;

    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

input:focus{
    outline: none;

}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    right: auto;
    left: auto;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;    /*드롭다운 위치 조절*/
    left: auto;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

