#top_element1{
    border-bottom: 0.2px solid #dddddd;
}

#docs_title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;

    float: left;
    margin-left: 8px;
    margin-top: 15px;

    border: none;
}

#docs_button_menu{
    float: right;
    margin-right: 15px;
}

#docs_button_save{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}


#top_element2{
    height: 40px;
    width: 100%;
    padding-top: 7px;

    display: flex;
    flex-direction: row;

    border-bottom: 0.2px solid #dddddd;
}

#top_element3{
    height: 30px;
    width: 100%;

    display: flex;
    flex-direction: row;

    border-bottom: 0.2px solid #dddddd;
}

#set_font_family, #set_font_size{
    padding-left: 7px;
    padding-top: 6px;
}

#set_font_size{
    padding-right: 5px;
}

#font_family_text, #font_size_text{
    font-size: 11px;
    font-family: "Nanum Gothic";
    margin-right: 10px;
}
#font_family_text, #font_size_text{
    font-size: 11px;
    font-family: "Nanum Gothic";
    margin-right: 10px;
}

.font_family{
    border: none;
    background: white;
    font-size: 11px;
    font-family: "Nanum Gothic";
    margin-right: 10px;
}

.font_size{
    border: none;
    background: white;
    font-size: 11px;
    font-family: "Nanum Gothic";
    margin-right: 10px;
    width: 50px;
}
option{
    font-size: 11px;
    font-family: "Nanum Gothic";
    margin-right: 10px;
}

#set_font_style{
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 13px;

    display: flex;
    flex-direction: row;
}

#set_font_color{
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 13px;

    display: flex;
    flex-direction: row;
}

#set_font_align{
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: row;
}


#docs_contents_container{
    height: 633px; /* TODO: 이 부분은 해상도에 따라 조절 해야 함!!*/
    width: 95%;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 15px;
    padding: 20px;
}


#docs_contents_container:focus{
    outline: none;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: inline;
}

[contenteditable=true]{
    outline: none;
}

.todo{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex :1;
}

.todo_text{
    color: black;
}

.todo_text[placeholder]:empty:before {
    content:attr(placeholder);
    color: #cccccc;
}


.toggle_parent{
    color: black;
}

.toggle_parent[placeholder]:empty:before {
    content:attr(placeholder);
    color: #cccccc;
}


.toggle_child{
    color: black;
}

.toggle_child[placeholder]:empty:before {
    content:attr(placeholder);
    color: #cccccc;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cccccc;
}

.file_container{
    padding: 10px;
    float: left;
    display: block;
    cursor: pointer;
    background-color: #f2f2f2;
}

.file_container::after { content: ' '; display: block; clear: both }
/** 승맹이 드롭다운 **/


.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    right: auto;
    left: auto;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;    /*드롭다운 위치 조절*/
    left: auto;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

body{
    background-color: white;
}
.link{
    text-decoration: underline;
    color: blue;
}
